[submodule "paas/paas-onboarding-docs"]
	path = paas/paas-onboarding-docs
	url = https://github.com/catalyzeio/paas-onboarding-docs
[submodule "compliance/training"]
	path = compliance/training
	url = https://github.com/catalyzeio/training
[submodule "compliance/policies"]
	path = compliance/policies
	url = https://github.com/catalyzeio/policies
[submodule "baas/baas-examples"]
	path = baas/baas-examples
	url = https://github.com/catalyzeio/baas-examples
[submodule "baas/baas-guides"]
	path = baas/baas-guides
	url = https://github.com/catalyzeio/baas-guides
[submodule "paas/paas-faq"]
	path = paas/paas-faq
	url = https://github.com/catalyzeio/paas-faq
