<section class="front-guides">
	<header>
		<h1><i class="ss-openbook"></i> Product Guides</h1>
	</header>
	<article>
		<div class="all-guides-row">
			<div class="col-1-3">
				<a href="/baas/guides/clinical-data-models/">
					<div class="guide-book baas-guide">
						<div class="spine">BaaS</div>
						<h1>Clinical Data Models</h1>
						<p>This BaaS Guide gives you examples clinical data models based off of CCDA models.</p>
					</div>
				</a>
			</div>
			<div class="col-1-3">
				<a href="/paas/getting-started/">
					<div class="guide-book paas-guide">
						<div class="spine">PaaS</div>
						<h1>Getting Started Guide</h1>
						<p>This guide will walk you through building and deploying your first environment.</p>
					</div>
				</a>
			</div>
			<div class="col-1-3">
				<a href="/baas/guides/permissions-and-acls/">
					<div class="guide-book baas-guide">
						<div class="spine">BaaS</div>
						<h1>Permissions and ACLs</h1>
						<p>This guide highlights some of the permission model features that are provided BaaS.</p>
					</div>
				</a>
			</div>
		</div>
		<div class="all-guides-row">
			<div class="col-1-3">
				<a href="/paas/paas-guides/php-mysql">
					<div class="guide-book paas-guide">
						<div class="spine">PaaS</div>
						<h1>PHP + MySQL</h1>
						<p>This tutorial will guide you through setting up your PHP + MySQL Application.</p>
					</div>
				</a>
			</div>
			<div class="col-1-3">
				<a href="https://catalyze.io/blog/how-do-you-prove-hipaa-compliance">
					<div class="guide-book compliance-guide">
						<div class="spine">Compliance</div>
						<h1>Proving Compliance</h1>
						<p>In this post we'll discuss the work necessary for proving HIPAA compliance in 2015.</p>
					</div>
				</a>
			</div>
			<div class="col-1-3">
				<a href="/baas/guides/getting-started/">
					<div class="guide-book baas-guide">
						<div class="spine">BaaS</div>
						<h1>Getting Started Guide</h1>
						<p>This guide is intended to familiarize you with making API calls against the Catalyze BaaS.</p>
					</div>
				</a>
			</div>
		</div>
		<div class="all-guides-row">
			<div class="col-1-3">
				<a href="/baas/guides/file-management">
					<div class="guide-book baas-guide">
						<div class="spine">BaaS</div>
						<h1>File Management</h1>
						<p>File uploads expose a secure S3-esque bucket structure in a HIPAA compliant fashion.</p>
					</div>
				</a>
			</div>
			<div class="col-1-3">
				<a href="/paas/paas-guides/node-mongo">
					<div class="guide-book paas-guide">
						<div class="spine">PaaS</div>
						<h1>Node + MongoDB Guide</h1>
						<p>This tutorial will guide you through setting up your Node + MongoDB Application.</p>
					</div>
				</a>
			</div>
			<div class="col-1-3">
				<a href="/baas/guides/introduction">
					<div class="guide-book baas-guide">
						<div class="spine">BaaS</div>
						<h1>Introduction to BaaS</h1>
						<p>Read our introduction to BaaS, a service for building HIPAA-compliant Applications.</p>
					</div>
				</a>
			</div>
		</div>
		<div class="all-guides-row">
			<div class="col-1-3">
				<a href="/baas/guides/file-management">
					<div class="guide-book baas-guide">
						<div class="spine">BaaS</div>
						<h1>File Management</h1>
						<p>File uploads expose a secure S3-esque bucket structure in a HIPAA compliant fashion.</p>
					</div>
				</a>
			</div>
			<div class="col-1-3">
				<a href="/paas/paas-guides/python-postgres/">
					<div class="guide-book paas-guide">
						<div class="spine">PaaS</div>
						<h1>Python + Postgres Guide</h1>
						<p>This tutorial will guide you through setting up your Python + PostgreSQL Application.</p>
					</div>
				</a>
			</div>
			<div class="col-1-3">
				<a href="/paas/paas-guides/rails-postgres">
					<div class="guide-book paas-guide">
						<div class="spine">PaaS</div>
						<h1>Rails + Postgres Guide</h1>
						<p>This tutorial will guide you through setting up your Rails + PostgreSQL Application.</p>
					</div>
				</a>
			</div>
		</div>
		<div class="all-guides-row">
			<div class="col-1-3">
				<a href="/baas/guides/file-management">
					<div class="guide-book baas-guide">
						<div class="spine">BaaS</div>
						<h1>File Management</h1>
						<p>File uploads expose a secure S3-esque bucket structure in a HIPAA compliant fashion.</p>
					</div>
				</a>
			</div>
			<div class="col-1-3">
				<a href="/paas/paas-guides/logging">
					<div class="guide-book paas-guide">
						<div class="spine">PaaS</div>
						<h1>Logging</h1>
						<p>This tutorial will guide you through setting up Logging for your Application.</p>
					</div>
				</a>
			</div>
		</div>
	</article>
</section>