<section class="front-docs">
	<header>
		<h1><i class="ss-code"></i> Documentation</h1>
	</header>
	<article>
		<a href="/paas/getting-started/" class="button"><span>PaaS Getting Started Docs</span> <i class="ss-code"></i></a>
		<a href="/paas/cli/" class="button"><span>PaaS CLI Reference</span> <i class="ss-code"></i></a>
		<a href="//hl7-docs.catalyze.io" class="button"><span>HL7 Docs &amp; Mock API</span> <i class="ss-code"></i></a>
		<a href="/baas/api-reference/" class="button"><span>BaaS API Reference</span> <i class="ss-code"></i></a>
	</article>
</section>