<section class="front-faq">
	<header>
		<h1><i class="ss-questionchat"></i> Frequently Asked Questions</h1>
	</header>
	<article>
		<div class="col-6-12">
			<ul>
				<li><a href="/paas/paas-faq/application#how-do-i-deploy-my-application?">How do I deploy my application?</a></li>
				<li><a href="/paas/paas-faq/application/#how-do-i-access-my-application-after-it-has-been-deployed?">How do I access my application after it has been deployed?</a></li>
				<li><a href="/paas/paas-faq/high-availability/#how-do-i-connect-to-my-redis-ha-service?">How do I connect to my Redis HA Service?</a></li>
				<li><a href="/paas/paas-faq/buildpacks/#can-i-run-my-own-buildpack?">Can I run my own buildpack?</a></li>
				<li><a href="/paas/paas-faq/domains/#how-do-subdomains-work?">How do subdomains work on PaaS?</a></li>
			</ul>
		</div>
		<div class="col-6-12">
			<ul>
				<li><a href="/baas/baas-faq/accounts">How many organizations can a single BaaS account have?</a></li>
				<li><a href="/baas/baas-faq/push-notifications">Can I add push notifications to my BaaS application?</a></li>
				<li><a href="/paas/paas-faq/buildpacks#what-is-a-buildpack?">What is a Catalyze buildpack?</a></li>
				<li><a href="/paas/paas-faq/databases/#what-versions-of-the-supported-databases-does-catalyze-use?">What type of database can I use with Catalyze?</a></li>
				<li><a href="/paas/paas-faq/databases/#how-do-i-get-access-to-the-database-(or-redis-or-other)-url?">How do I access my database?</a></li>
			</ul>
		</div>
	</article>
	<footer>
		<div class="sort-faq">
			<div class="col-6-12">
				<a href="/paas/paas-faq" class="button button-paas">PaaS FAQ</a>
			</div>
			<div class="col-6-12">
				<a href="/baas/baas-faq" class="button button-baas">BaaS FAQ</a>
			</div>
		</div>
	</footer>
</section>