<section class="front-guides">
	<header>
		<h1><i class="ss-openbook"></i> Product Guides</h1>
		<a href="#" class="more">View All Guides &raquo;</a>
	</header>
	<article>
		<div class="guide-row">
			<div class="col-1-5">
				<a href="/baas/guides/clinical-data-models/">
					<div class="guide-book baas-guide">
						<div class="spine">BaaS</div>
						<h1>Clinical Data Models</h1>
						<p>This BaaS Guide gives you examples clinical data models based off of CCDA models.</p>
					</div>
				</a>
			</div>
			<div class="col-1-5">
				<a href="/baas/guides/permissions-and-acls/">
					<div class="guide-book baas-guide">
						<div class="spine">BaaS</div>
						<h1>Permissions and ACLs</h1>
						<p>This guide highlights some of the permission model features that are provided BaaS.</p>
					</div>
				</a>
			</div>
			<div class="col-1-5">
				<a href="/baas/guides/custom-classes/">
					<div class="guide-book baas-guide">
						<div class="spine">BaaS</div>
						<h1>Building Custom Classes</h1>
						<p>Custom classes are the swiss army knife of Catalyze’s secure data offerings on BaaS.</p>
					</div>
				</a>
			</div>
			<div class="col-1-5">
				<a href="/paas/getting-started/">
					<div class="guide-book paas-guide">
						<div class="spine">PaaS</div>
						<h1>Getting Started Guide</h1>
						<p>This guide will walk you through building and deploying your first environment.</p>
					</div>
				</a>
			</div>
			<div class="col-1-5">
				<a href="https://catalyze.io/learn/proving-hipaa-compliance">
					<div class="guide-book compliance-guide">
						<div class="spine">Compliance</div>
						<h1>Proving Compliance</h1>
						<p>In this post we'll discuss the work necessary for proving HIPAA compliance in 2015.</p>
					</div>
				</a>
			</div>
		</div>
	</article>
</section>