<section class="front-starter">
	<header>
		<h1><i class="ss-lightning"></i> PaaS Example Projects</h1>
	</header>
	<article>
		<a href="/paas/paas-guides/rails-postgres" class="button"><span>Ruby on Rails Example</span> <i class="lang-icon ruby"></i></a>
		<a href="/paas/paas-guides/php-mysql" class="button"><span>PHP + MySQL</span> <i class="lang-icon php"></i></a>
		<a href="/paas/paas-guides/node-mongo" class="button"><span>Node.js + MongoDB</span> <i class="lang-icon js"></i></a>
	</article>
</section>