<section class="front-starter">
	<header>
		<h1><i class="ss-lightning"></i> PaaS Example Projects</h1>
	</header>
	<article>
		<a href="/paas/paas-guides/rails-postgres" class="button"><span>Rails + Postgres</span> <i class="lang-icon ruby"></i></a>
		<a href="/paas/paas-guides/python-postgres" class="button"><span>Python + Postgres</span> <i class="lang-icon python"></i></a>
		<a href="/paas/paas-guides/node-mongo" class="button"><span>Node + MongoDB</span> <i class="lang-icon js"></i></a>
	</article>
</section>