<%= partial "section/head" %>
	<body class="r_<%= page_classes %>">
		<%= yield %>
		<%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js", "//fast.fonts.net/jsapi/1ced54dd-da20-4061-b896-c5731d5d4974.js", "main" %>
	</body>
</html>