---
title: PaaS Home
---
<%= partial "sections/header_index" %>
<div class="grid">
	<section class="r_submod-masthead">
		<h1 class="r_header-left">Catalyze PaaS Resources</h1>
		<form class="r_inline-search">
			<div class="r_search-wrapper">
				<label for="globalSearch">Search:</label>
				<input name="globalSearch" type="text" placeholder="Search all resources...">
				<span><i class="fa fa-search"></i></span>
			</div>
		</form>
	</section>
</div>
<section class="r_4up-cards">
	<div class="grid">
		<div class="r_card-row">
			<div class="col-1-4">
				<div class="r_main-card r_paas-card">
					<header>
						<h1><a href="/paas/getting-started">PaaS</a></h1>
						<h2><a href="/paas/getting-started"><i class="fa fa-mortar-board"></i> Getting Started</a></h2>
					</header>
					<article>
						<div class="r_card-item">
							<p>This getting started guide will walk you through setting up and deploying your first environment.</p>
						</div>
						<a href="/paas/getting-started" class="r_card-btn">View <i class="fa fa-caret-right"></i></a>
					</article>
				</div>
			</div>
			<div class="col-1-4">
				<div class="r_main-card r_paas-card">
					<header>
						<h1><a href="/paas/cli">PaaS</a></h1>
						<h2><a href="/paas/cli"><i class="fa fa-mortar-board"></i> CLI Reference</a></h2>
					</header>
					<article>
						<div class="r_card-item">
							<p>Our CLI reference gives you the ability to access and manage your environment via the command line.</p>
						</div>
						<a href="/paas/cli" class="r_card-btn">View <i class="fa fa-caret-right"></i></a>
					</article>
				</div>
			</div>
		</div>
	</div>
</section>
<%= partial "sections/marketing" %>
<%= partial "sections/footer" %>