$c_paas: #2098ca;
$c_paas-alt: #4DB5E1;
$c_baas: #3F3980;
$c_baas-alt: #7447B1;
$c_hl7: #FF9100;
$c_hl7-alt: #FFB451;
$c_compliance: #121212;
$c_compliance-alt: #444444;
$c_border: #ddd;
$c_lightbg: #f4f4f4;
$c_text: lighten($c_compliance-alt, 25%);
$c_marketing: #6FB75E;