.tinynav{display: none}
.r_guide-nav{
	label{display: none;}
}
@media all and (max-width: 1260px){
	.tocify-subheader li{width: 150px;}
	.baas_guides{
		.r_guide-section{
			.r_guide-content{
				margin-left: 25%;
			}
		}
	}
}
@media handheld, only screen and (max-width: 1000px){
	.baas_guides{
		.r_guide-section{
			.r_guide-content{
				margin-left: 20%;
			}
		}
	}
	.r_submod-masthead{
		margin: 0px 20px 0px 20px;
	}
	.r_main-marketing{
		.r_marketing-inner-1{
			padding: 30px 30px 30px 30px;
		}
	}
	.r_home-cards .r_card-row,
	.r_4up-cards .r_card-row{
		margin: 0px 0px 0px 20px;
	}
	.r_main-footer{
		.r_footer-nav{
			li{
				line-height: 2;
			}
		}
	}
	//
	.front-faq,
	.front-header{
		margin: 40px 30px 20px 30px;
	}
}
@media handheld, only screen and (max-width: 890px){
	.tocify-subheader li{width: 100px;}
}
@media handheld, only screen and (max-width: 767px){
	.r_home-masthead{
		padding: 30px 20px 30px 20px;
		a.r_contrib-btn{
			float: none;
			margin: 20px auto 0px auto;
		}
		h2,h1{text-align: center;margin:auto;}
	}
	.r_home-masthead{
		.r_global-search{
			.r_input-wrapper{
				float: none;
				margin: auto;
			}
		}
	}
	.tinynav{display: block}
	#nav{display: none}
	.r_guide-nav{
		h1{display: none;}
		label{
			display: block;
			padding: 0px 0px 10px 0px;
			font-family: $f_sans-med;
			color: $c_compliance;
			display: block;
		}
		select#tinynav1{
			width: 100%;
			display: block;
		}
	}
	.r_home-cards .r_card-row,
	.r_4up-cards .r_card-row,
	.r_4up-cards .r_card-row{
		margin: 0px 0px 0px 0px;
	}
	.grid{
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	[class*='col-']{
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.r_submod-masthead{
		.r_inline-search{
			margin-top: 20px;
			.r_search-wrapper{
				float: none;
				display: inline-block;
			}
		}
		h1.r_header-left{
			float: none;
		}
	}
	#toc{
		display: none !important;
	}
	.baas_guides{
		.r_guide-section{
			.r_guide-content{
				margin-left: 0;
			}
		}
	}
	.front-header{
		padding: 20px 20px 0px 20px;
		margin: 0px 0px 0px 0px;
		h1{
			text-align: center;
			padding: 0px 0px 20px 0px;
		}
	}
	.front-faq{
		margin: 20px 20px 20px 20px;
		article{
			[class*='col-']{padding-right:0px;padding-left:0px;margin:0px;}
			padding: 0px;
			ul{
				li{
					margin: 0px;
					a{
						margin: 0px;
						padding: 10px;
						line-height: 2;
						border-bottom: 1px solid #ddd;
						text-decoration: none;
					}
				}
			}
		}
	}
	.front-docs{
		article{padding: 10px 0px 0px 0px;}
		.docs-block{
			margin: 0px 10px 10px 10px;
			width: 97%;
		}
	}
	.sort-faq{
		article{padding: 10px 0px 0px 0px;}
		a.button{
			margin: 0px 10px 10px 10px;
			width: 97%;
		}
	}
	.front-guides{
		article{padding: 10px 0px 0px 0px;}
		.guide-book{
			margin: 0px 10px 10px 10px;
		}
	}
}
@media handheld, only screen and (max-width: 630px){
	.r_main-footer{
		.r_footer-nav{
			li{display: block;text-align: center;}
		}
	}
	.r_main-footer{
		.r_bubble-nav{
			a{
				display: inline-block;
				min-width: 150px;
				margin: 10px 10px 0px 0px;
				&:last-of-type{margin: 10px 10px 0px 0px;}
			}
		}
	}
	.r_main-header{
		.r_main-logo{float: none;}
		.r_main-nav{
			float: none;
			a{
				display: inline-block;
				padding: 10px;
				margin: 10px 10px 0px 0px;
				border: 1px solid #ddd;
				border-radius: 5px;
				width: auto;
				text-align: center;
				&:first-of-type{
					margin: 10px 10px 0px 0px;
					padding: 10px;
				}
			}
		}
		.r_main-footer{
			.r_footer-meta{
				.r_footer-meta-links{
					div{font-size: 10px;text-align: center;}
				}
				.r_footer-meta-coalfire{
					float: none;
					padding: 0;
					clear: both;
					a{float: none;margin: 0 auto;}
				}
			}
		}
		.r_main-marketing{
			.r_marketing-inner-1{padding: 30px;}
		}
	}
}
@media all and (max-width: 479px){
	.r_guide-section{padding: 0px;}
	.r_submod-masthead{
		h1.r_header-left{
			.fa{font-size: 20px;}
			font-size: 25px;
			font-family: $f_sans-reg;
		}
	}
	.r_main-footer{
		.r_footer-bar{
			a {margin: 10px;
				&:first-child, &:last-child {margin: 10px;}
			}
		}
		.r_footer-meta{
			padding: 0;
			text-align: center;
			.r_footer-meta-links {
				float: none;
				strong{
					display: none;
				}
				span{
					display: block;
				}
				a{
					display: block;
					margin: 0;
				}
			}
			.r_footer-meta-coalfire{
				float: none;
				padding: 0;
				a{
					float: none;
					margin: 0 auto;
				}
			}
		}
	}
}