<footer class="r_main-footer">
	<div class="grid r_main-footer-content">
		<div class="col-1-1 r_footer-bar">
			<a href="https://catalyze.io/products">Products</a>
			<a href="https://catalyze.io/proof">Proof</a>
			<a href="https://catalyze.io/compliance">Compliance</a>
			<a href="https://catalyze.io/about">About Us</a>
			<a href="https://catalyze.io/blog">Blog</a>
			<a href="https://catalyze.io/innovation">Innovation Series</a>
			<a href="https://catalyze.io/hipaa-self-assessment-checklist">Self-Assessment Checklist</a>
			<a href="https://catalyze.io/whitepapers">White Papers</a>
			<a href="https://twitter.com/catalyzeio" target="_blank">@catalyzeio</a>
		</div>
		<div class="col-1-1 r_footer-meta">
			<div class="col-10-12 r_footer-meta-links">
				<div>
					<span><a href="https://catalyze.io/">&copy; Catalyze, Inc.</a></span>
					<strong>&bull;</strong>
					<span>(888) 377-3184</span>
					<strong>&bull;</strong>
					<span><a href="mailto:hello@catalyze.io">hello@catalyze.io</a></span>
					<strong>&bull;</strong>
					<span>111 South Hamilton Street #30, Madison, WI 53703</span>
				</div>
				<div>
					<span>
						<a href="https://training.catalyze.io">Training</a>
						<a href="https://policy.catalyze.io">Policies</a>
						<a href="https://hipaa.catalyze.io">HIPAA Mappings</a>
						<a href="https://legal.catalyze.io">Legal</a>
					</span>
					<strong>&bull;</strong>
					<span>
						<a href="http://status.catalyze.io/">System Status</a>
					</span>
					<strong>&bull;</strong>
					<span>
						<a href="https://catalyze.io/newsletter">Newsletter</a>
						<a href="https://catalyze.io/jobs">We're Hiring</a>
					</span>
				</div>
			</div>
			<div class="col-2-12 r_footer-meta-coalfire">
				<a href="https://www.coalfire.com/Coalfire-Certificate-Program/Landing?cc=248fe0c0-6343-4785-9cb0-0602a6a82a6c" target="_blank">Coalfire Verified</a>
			</div>
		</div>
	</div>
</footer>
<%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js", "//fast.fonts.net/jsapi/1ced54dd-da20-4061-b896-c5731d5d4974.js", "//code.jquery.com/jquery-1.11.2.min.js", "jquery-ui.min.js", "jquery.tocify.min.js", "nav", "main" %>
<!-- Search -->
<script type="text/javascript">
	(function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
	(w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
	e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
	})(window,document,'script','//s.swiftypecdn.com/install/v1/st.js','_st');

	_st('install','NrHLiKXNrFm1TcTUxpyQ');
</script>
<!-- /Seach -->