<div class="grid">
	<footer class="r_main-footer">
		<nav class="r_bubble-nav">
			<a href="#">About Us</a>
			<a href="#">Blog</a>
			<a href="#">Self-Assessment Checklist</a>
			<a href="#">White-Papers</a>
			<a href="#">@catalyzeIO</a>
		</nav>
		<ul class="r_footer-nav">
			<li>© Catalyze, Inc.</li>
			<li><a href="tel:8883773184">(888) 377-3184</a></li>
			<li><a href="mailto:hello@catalyze.io">hello@catalyze.io</a></li>
			<li>111 South Hamilton Street #30, Madison, WI 53703</li>
		</ul>
		<ul class="r_footer-nav">
			<li><a href="#">Training</a></li>
			<li><a href="#">Policies</a></li>
			<li><a href="#">HIPAA Mappings</a></li>
			<li><a href="#">Legal</a></li>
			<li><a href="#">System Status</a></li>
			<li><a href="#">We're Hiring</a></li>
		</ul>
	</footer>
</div>