<div class="grid">
	<footer class="r_main-footer">
		<nav class="r_bubble-nav">
			<a href="https://catalyze.io/about">About Us</a>
			<a href="https://catalyze.io/blog">Blog</a>
			<a href="https://catalyze.io/hipaa-self-assessment-checklist">Self-Assessment Checklist</a>
			<a href="https://catalyze.io/whitepapers">White-Papers</a>
			<a href="https://twitter.com/catalyzeio">@catalyzeIO</a>
		</nav>
		<ul class="r_footer-nav">
			<li>© Catalyze, Inc.</li>
			<li><a href="tel:8883773184">(888) 377-3184</a></li>
			<li><a href="mailto:hello@catalyze.io">hello@catalyze.io</a></li>
			<li>111 South Hamilton Street #30, Madison, WI 53703</li>
		</ul>
		<ul class="r_footer-nav">
			<li><a href="https://training.catalyze.io/">Training</a></li>
			<li><a href="https://policy.catalyze.io/">Policies</a></li>
			<li><a href="https://hipaa.catalyze.io/">HIPAA Mappings</a></li>
			<li><a href="https://legal.catalyze.io/">Legal</a></li>
			<li><a href="http://status.catalyze.io/">System Status</a></li>
			<li><a href="https://catalyze.io/jobs">We're Hiring</a></li>
		</ul>
	</footer>
</div>
<%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js", "//fast.fonts.net/jsapi/1ced54dd-da20-4061-b896-c5731d5d4974.js", "main" %>