<header class="r_main-header">
	<div class="grid">
		<div class="r_main-logo">
			<a href="https://catalyze.io">
				<img src="/assets/img/logo-d.png">
			</a>
		</div>
		<%= partial "sections/nav" %>
	</div>
</header>