<header class="r_main-header">
	<div class="grid">
		<div class="r_main-logo">
			<a href="/">
				<img src="/assets/img/logo_resources_white.png">
			</a>
		</div>
		<%= partial "sections/nav" %>
	</div>
</header>