<div class="grid">
	<section class="r_main-marketing">
		<header>
			<h1>Other Catalyze Offerings</h1>
			<h2>Catalyze is your one-stop-shop for compliance and healthcare software.</h2>
		</header>
		<article class="r_small-grid">
			<div class="col-6-12">
				<div class="r_marketing-inner">
					<h1>Healthcare's Trusted Platform</h1>
					<p>Industry-best compliance, enterprise-grade performance, and personal-touch service make Catalyze the intelligent choice.</p>
					<a href="#" class="r_marketing-empty-btn">Learn More</a>
					<a href="#" class="r_marketing-btn">Free Trial</a>
				</div>
			</div>
			<div class="col-6-12">
				<div class="r_marketing-inner">
					<h1>Catalyze Learning</h1>
					<p>Learn the important and intracate details of HIPAA. Make use of HL7 and understand the security aspects of handling PHI.</p>
					<a href="#" class="r_marketing-empty-btn">Visit Catalyze Learning</a>
				</div>
			</div>
		</article>
	</section>
</div>