<div class="r_main-marketing">
	<div class="grid">
		<div class="col-6-12 r_marketing-inner-1">
			<h1>Cloud computing for healthcare</h1>
			<p>If you store, process, or transmit Protected Health Information, rely on Catalyze to keep you HIPAA compliant with our platform as a service, mobile backend, or managed HL7 integrations.</p>
			<a href="https://catalyze.io/signup" class="r_main-marketing-btn">Free Trial</a>
			<a href="https://catalyze.io/products" class="r_main-marketing-empty-btn">Learn More</a>
		</div>
		<div class="col-6-12 r_marketing-inner-2">
			<h1>Catalyze learning resources</h1>
			<p>Learn the important and intracate details of HIPAA compliance, make use of HL7, and understand the security aspects of handling protected health information with our learning resources.</p>
			<a href="https://catalyze.io/learn" class="r_main-marketing-empty-btn">Visit Catalyze Learning Resources</a>
		</div>
	</div>
</div>