<nav class="r_main-nav">
	<a href="//catalyzeio.zendesk.com/hc/en-us" target="_blank">Support</a>
	<a href="//catalyze.io/products" target="_blank">Products</a>
	<a href="//catalyze.io" target="_blank">Catalyze</a>
	<a href="//dashboard.catalyze.io" target="_blank">Log In</a>
	<a href="//catalyze.io/signup" class="r_nav-btn" target="_blank">Free Trial</a>
</nav>