<nav class="r_main-nav">
	<a href="//catalyze.io/jobs" class="r_hiring-btn"><span><i class="ss-flame"></i></span> We're Hiring!</a>
	<a href="//catalyze.io">Home</a>
	<a href="//catalyzeio.zendesk.com/hc/en-us" target="_blank">Support</a>
	<a href="//dashboard.catalyze.io" target="_blank">Login</a>
	<a href="//catalyze.io/signup" class="r_nav-btn" target="_blank">Free Trial</a>
</nav>