<nav class="r_main-nav">
	<a href="https://catalyze.io">Home</a>
	<a href="//catalyzeio.zendesk.com/hc/en-us" target="_blank">Support</a>
	<a href="//dashboard.catalyze.io" target="_blank">Login</a>
	<a href="//catalyze.io/signup" class="r_nav-btn" target="_blank">Free Trial</a>
</nav>