		<div class="col-4-12">
			<nav class="r_guide-nav">
				<h1>Contents:</h1>
				<ul>
					<li><a href="#">Introduction</a></li>
					<li><a href="#">Connections</a></li>
					<li><a href="#">SSH Keys</a></li>
					<li><a href="#">SSL Certificate</a></li>
					<li><a href="#">Create and Environment</a></li>
					<li><a href="#">Redeploy</a></li>
					<li><a href="#">Delete and Environment</a></li>
					<li><a href="#">Logging</a></li>
					<li><a href="#">Monitoring</a></li>
				</ul>
			</nav>
		</div>