---
title: Page Not Found
---
<%= partial "sections/header" %>
<div class="grid">
	<section class="r_main-404">
		<h1>404</h1>
		<p>We're not sure what happened here. It looks like the page you're trying to find has moved.</p>
		<div class="r_404-gif">
			<img src="/assets/img/404.gif">
		</div>
		<a class="r_back-home" href="/">Take me home</a>
	</section>
</div>
<%= partial "sections/footer" %>
