---
title: Knowledge Base - Guides
---
<%= partial "sections/header" %>
<div class="grid">
	<!-- FAQ Section -->
	<header class="front-header">
		<div class="col-6-12">
			<h1>Product Guides</h1>
		</div>
		<div class="col-6-12">
			<div class="front-search">
				<input type="text" id="st-search-input" name="globalSearch" placeholder="Search all resources...">
				<span><i class="ss-search"></i></span>
			</div>
		</div>
	</header>
	<%= partial "sections/guides/all-guides" %>
</div>
<%= partial "sections/marketing" %>
<%= partial "sections/footer" %>
