---
title: Resources Home
---
<%= partial "sections/header" %>
<div class="grid">
	<section class="r_home-masthead">
		<h1>Catalyze Resources</h1>
		<h2>Find documentation, guides, tutorials and SDKs for every Catalyze product.</h2>
	</section>
</div>
<section class="r_home-cards">
	<div class="grid">
		<div class="r_card-row">
			<div class="col-6-12">
				<div class="r_main-card r_paas-card">
					<header>
						<h1>
							<a href="#">PaaS: <span>platform as a service</span></a>
						</h1>
					</header>
					<article>
						<div class="r_card-item">
							<h3><a href="#"><i class="fa fa-child"></i> Getting Started</a></h3>
							<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum.</p>
						</div>
						<div class="r_card-item">
							<h3><a href="#"><i class="fa fa-mortar-board"></i> Guides</a></h3>
							<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum.</p>
						</div>
						<div class="r_card-item">
							<h3><a href="#"><i class="fa fa-bookmark"></i> CLI Reference</a></h3>
							<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum.</p>
						</div>
						<a href="/paas" class="r_card-btn">View All PaaS Resources <i class="fa fa-caret-right"></i></a>
					</article>
				</div>
			</div>
			<div class="col-6-12">
				<div class="r_main-card r_baas-card">
					<header>
						<h1>
							<a href="#">BaaS: <span>backend as a service</span></a>
						</h1>
					</header>
					<article>
						<div class="r_card-item">
							<h3><a href="#"><i class="fa fa-child"></i> Getting Started</a></h3>
							<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum.</p>
						</div>
						<div class="r_card-item">
							<h3><a href="#"><i class="fa fa-mortar-board"></i> Guides</a></h3>
							<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum.</p>
						</div>
						<div class="r_card-item">
							<h3><a href="#"><i class="fa fa-bookmark"></i> CLI Reference</a></h3>
							<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum.</p>
						</div>
						<a href="/baas" class="r_card-btn">View All BaaS Resources <i class="fa fa-caret-right"></i></a>
					</article>
				</div>
			</div>
		</div>
	</div>
	<div class="grid">
		<div class="r_card-row">
			<div class="col-6-12">
				<div class="r_main-card r_compliance-card">
					<header>
						<h1>
							<a href="#">Compliance: <span>industry best security</span></a>
						</h1>
					</header>
					<article>
						<div class="r_card-item">
							<h3><a href="#"><i class="fa fa-lock"></i> HIPAA</a></h3>
							<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum.</p>
						</div>
						<div class="r_card-item">
							<h3><a href="#"><i class="fa fa-lock"></i> Policy</a></h3>
							<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum.</p>
						</div>
						<div class="r_card-item">
							<h3><a href="#"><i class="fa fa-lock"></i> Legal</a></h3>
							<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum.</p>
						</div>
						<a href="/compliance" class="r_card-btn">View All Compliance Resources <i class="fa fa-caret-right"></i></a>
					</article>
				</div>
			</div>
			<div class="col-6-12">
				<div class="r_main-card r_hl7-card">
					<header>
						<h1>
							<a href="#">HL7: <span>health level seven</span></a>
						</h1>
					</header>
					<article>
						<div class="r_card-item">
							<h3><a href="#"><i class="fa fa-info"></i> FAQ</a></h3>
							<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum.</p>
						</div>
						<a href="/hl7" class="r_card-btn">View All HL7 Resources <i class="fa fa-caret-right"></i></a>
					</article>
				</div>
			</div>
		</div>
	</div>
</section>
<%= partial "sections/marketing" %>
<%= partial "sections/footer" %>