.r_home-cards{
	.r_card-row{
		margin: 0px 0px 0px 0px;
		@extend .cf;
	}
	.r_nthcard-row{margin-top: 20px;@extend .cf;}
	.r_main-card{
		@include border-radius(5px);
		border: 1px solid $c_border;
		header{
			background-color: $c_nice-bg;
			padding: 15px;
			border-bottom: 1px solid darken($c_border, 3%);
			@include border-radius-top(5px);
			h1{
				font-size: 20px;
				a{
					color: $c_compliance-alt;
					font-family: $f_sans-reg;
					text-decoration: none;
					span{
						font-size: 11px;
						text-transform: uppercase;
						font-family: $f_sans-dem;
						color: $c_text;
					}
				}
			}
		}
		article{
			padding: 15px;
			.r_card-item{
				margin: 0px 0px 20px 0px;
				padding: 0px 0px 10px 0px;
				border-bottom: 1px solid $c_border;
				h3{
					font-size: 16px;
					font-family: $f_sans-med;
					padding: 0px 0px 10px 0px;
					a{
						color: $c_compliance-alt;
						text-decoration: none;
						display: inline-block;
					}
				}
				p{
					font-family: $f_sans-reg;
					font-size: 14px;
					line-height: 1.5;
					color: $c_text;
				}
			}
		}
	}
}
.r_home-cards{
	.r_paas-card{
		header{
			h1{a{color: $c_paas;}}
		}
		article{
			.r_card-item{h3{a{color: $c_paas;}}}
			a.r_card-btn{
				@extend .btn-paas;
				width: 100%;
			}
		}
	}
}
.r_home-cards{
	.r_baas-card{
		header{
			h1{a{color: $c_baas;}}
		}
		article{
			.r_card-item{h3{a{color: $c_baas;}}}
			a.r_card-btn{
				@extend .btn-baas;
				width: 100%;
			}
		}
	}
}
.r_home-cards{
	.r_hl7-card{
		header{
			h1{a{color: $c_hl7;}}
		}
		article{
			.r_card-item{h3{a{color: $c_hl7;}}}
			a.r_card-btn{@include main-cta(#FCC97B, #D47A01);border: 1px solid #A8701E;}
		}
	}
}
.r_home-cards{
	.r_compliance-card{
		header{
			h1{a{color: $c_compliance;}}
		}
		article{
			.r_card-item{h3{a{color: $c_compliance;}}}
			a.r_card-btn{
				@extend .btn-compliance;
				width: 100%;
			}
		}
	}
}
.r_4up-cards{
	@extend .r_home-cards;
	margin: 30px 0px 0px 0px;
	header{
		h2{
			font-size: 14px;
			padding: 10px 0px 0px 0px;
			a{
				color: $c_text;
				font-family: $f_sans-med;
				text-decoration: none;
			}
		}
	}
}
.r_guide-section{
	padding: 20px 0px;
	hr{
		display: block;
		height: 1px;
		border: 0;
		border-top: 2px solid #ddd;
		padding: 0;
		margin: 0px 15px 0px 15px;
	}
	@extend .cf;
	.r_guide-nav{
		border: 1px solid $c_border;
		border-radius: 5px;
		h1{
			font-family: $f_sans-reg;
			color: $c_compliance;
			font-size: 14px;
			padding: 10px;
			border-bottom: 1px solid darken($c_border, 3%);
			background-color: $c_nice-bg;
			@include border-radius-top(5px);
		}
		ul{
			margin: 0px 0px 0px 0px;
			li{
				a{
					padding: 15px;
					border-bottom: 1px solid $c_border;
					color: $c_text;
					text-decoration: none;
					font-size: 14px;
					display: block;
					&:hover{
						background-color: #f4f4f4;
						color: $c_compliance;
						opacity: 1.0;
					}
				}
				a.r_is-active{
					color: $c_code;
					background-color: $c_lightbg;
				}
				&:last-child{
					a{border-bottom: 0px;}
				}
				ul{
					margin: 0px 0px 0px 0px;
					padding: 0px 0px 0px 0px;
					border-top: 0px;
					border-left: 0px;
					li{
						border-bottom: 1px solid #ddd;
						a{
							padding: 10px;
							border-bottom: 0px;
							border-left: 1px solid $c_border;
							margin-left: 20px;
							color: lighten($c_text, 15%);
							font-family: $f_sans-med;
							text-decoration: none;
							font-size: 12px;
							display: block;
						}
						a.r_is-selected{background-color: $c_compliance;color: #fff;}
						&:last-child{
							a{border-bottom: 0px solid $c_border;}
						}
					}
					ul{
						border-top: 1px solid #ddd;
						li{
							border-bottom:1px solid #ddd;
							a{
								// margin-left: 40px;
							}
							&:last-child{
								border-bottom: 0px;
							}
						}
					}
				}
			}
		}
	}
	.r_guide-content{
		.r_guide-search{
			.r_input-wrapper{
				position: relative;
				width: 320px;
				span{
					position: absolute;
					top: 10px;
					font-size: 12px;
					color: $c_text;
					right: 30px;
				}
				label{
					font-family: $f_sans-med;
					color: $c_text;
					font-size: 14px;
					display: inline-block;
				}
			}
			input[type="text"]{
				display: inline-block;
				padding: 10px 20px 10px 10px;
				border: 1px solid $c_border;
				@include border-radius(5px);
				font-family: $f_sans-reg;
				color: $c_text;
				width: 250px;
			}
		}
		.r_guide-block{
			border: 1px solid $c_border;
			@include border-radius(5px);
			h1{
				border-bottom: 1px solid darken($c_border, 3%);
				padding: 10px;
				background-color: $c_nice-bg;
				border-bottom: 1px solid $c_border;
				@include border-radius-top(5px);
				a{
					font-size: 16px;
					font-family: $f_sans-med;
					display: block;
					color: $c_compliance;
					text-decoration: none;
				}
			}
			p{
				padding: 15px;
				font-family: $f_sans-reg;
				font-size: 14px;
				line-height: 1.5;
				color: $c_text;
			}
		}
	}
}
.r_paas,
.r_paas-cli-reference,
.r_paas-guides{
	.r_guide-section{
		.r_guide-content{
			.r_guide-block{
				h1{a{color: $c_paas;}
					color: $c_paas;
				}
			}
		}
	}
}
.r_baas-guides{
	.r_guide-section{
		.r_guide-content{
			.r_guide-block{
				h1{a{color: $c_baas;}
					color: $c_baas;
				}
			}
		}
	}
}
.r_hl7-faq{
	.r_guide-section{
		.r_guide-content{
			.r_guide-block{
				h1{a{color: $c_hl7;}
					color: $c_hl7;
				}
			}
		}
	}
}
.col-6-12{
	.r_main-card{
		margin-bottom: 25px;
	}
}
/* Post Styles */
.r_guide-section{
	@extend .cf;
	.r_guide-content{
		.r_guide-block{
			img{
				max-width: 100%;
				padding: 10px;
				@include easing(350ms);
				&:hover{
					@include easing(350ms);
					max-width: 120%;
					cursor: crosshair;
				}
			}
			blockquote{
				padding: 15px;
				p{
					border-left: 2px solid #ddd;
					margin-left: 0px;
					padding: 10px;
					font-family: $f_sans-ital;
				}
			}
			strong{font-family: $f_sans-med;border-bottom: 1px solid $c_border;}
			h2,
			h3,
			h4{
				font-family: $f_sans-bold;
				line-height: 2;
				padding: 15px;
				color: $c_text;
			}
			h2{font-size: 18px;}
			h3{font-size: 14px;}
			h4{font-size: 12px;}
			ol,
			ul{
				padding: 15px;
				margin: 0px 0px 0px 20px;
				list-style-type: circle;
				li{
					margin: 10px 0px 10px 0px;
					font-family: $f_sans-med;
					color: $c_text;
					font-size: 14px;
					line-height: 1.5;
				}
			}
			a{
				color: $c_paas;
				text-decoration: none;
			}
			table{
				padding: 10px;
				border: 1px solid $c_border;
				margin: 20px;
				tr{
					font-size: 14px;
					td{
						color: $c_text;
						padding: 10px;
						line-height: 1.5;
						border: 1px solid $c_border;
						@include easing(350ms);
						&:hover{
							@include easing(350ms);
							background-color: $c_highlight;
						}
					}
					th{
						font-family: $f_sans-bold;
						color: $c_compliance;
						padding: 10px;
						background-color: $c_lightbg;
						border: 1px solid $c_border;
						@include easing(350ms);
						&:hover{
							@include easing(350ms);
							background-color: $c_highlight;
						}
					}
				}
			}
		}
	}
}
.r_home-masthead{
	.r_global-search{
		.r_input-wrapper{
			position: relative;
			width: 320px;
			float: right;
			text-align: center;
			span{
				position: absolute;
				top: 12px;
				font-size: 12px;
				color: $c_text;
				right: 20px;
			}
			label{
				font-family: $f_sans-med;
				color: $c_text;
				font-size: 14px;
				display: inline-block;
			}
		}
		input[type="text"]{
			display: inline-block;
			padding: 10px 20px 10px 10px;
			border: 1px solid $c_border;
			@include border-radius(5px);
			font-family: $f_sans-reg;
			color: $c_text;
			width: 250px;
		}
	}
}
.baas_guides{
	.r_main-card{
		header{
			h1{
				font-size: 16px;
				a{
					font-family: $f_sans-med;
				}
			}
		}
	}
}
.paas_paas-guides{
	.r_main-card{
		header{
			min-height: 88px;
			h1{
				font-size: 16px;
				a{
					font-family: $f_sans-med;
				}
			}
		}
	}
}
.r_baas,
.baas_guides{
	.r_guide-section{
		.r_guide-content{
			margin-left: 30%;
			.r_guide-block{
				ul{
					background-color: $c_lightbg;
					border: 1px solid $c_border;
					margin: 0px 15px 15px 15px;
					padding: 0px 15px 0px 35px;
					@include border-radius(5px);
					ul{
						background-color: transparent;
						border: 0px solid transparent;
						margin: 0px 15px 0px 15px;
						padding: 0px 15px 0px 35px;
						li{
							font-size: 12px;
							max-width: 80%;
						}
					}
					li{
						line-height: 1.5;
						font-family: $f_sans-reg;
					}
				}
				p{
					padding: 0px 15px 15px 15px;
					&:first-of-type{
						padding: 15px 15px 15px 15px;
					}
				}
				h4{
					padding: 0px 0px 15px 0px;
					margin: 0px 15px 15px 15px;
					font-family: $f_sans-med;
					font-size: 14px;
					color: $c_baas;
					border-bottom: 1px solid $c_border;
				}
				h3{
					font-size: 18px;
					font-family: $f_sans-reg;
					color: $c_compliance;
					padding: 5px 15px 5px 15px;
					margin: 20px 0px 20px 0px;
					border-top: 1px solid $c_border;
					border-bottom: 1px solid $c_border;
					background-image: linear-gradient(-180deg, #FFFFFF 0%, #E7E7E7 100%);
				}
			}
		}
		.r_faq-content{@extend .r_guide-content;margin: 0px;}
	}
}
.baas_api-reference{
	.r_guide-section{
		.r_guide-content{
			margin-left: 0px;
			.r_guide-block{
				h2{
					padding: 15px 15px 0px 15px;
					font-family: $f_sans-med;
					color: $c_compliance;
				}
				pre{overflow-x: scroll;}
			}
		}
	}
}
.r_source-tree{
	[class*='col-']{
		padding: 0px;
		padding-right: 0px;
		padding-left: 0px;
		&:last-of-type{
			padding: 0px;
			padding-right: 0px;
			padding-left: 0px;
		}
	}
}
.r_source-tree{
	.r_guide-block{
		margin: 20px;
		border: 1px solid $c_border;
		h1{
			font-size: 14px;
			color: $f_sans-reg;
			background-color: $c_lightbg;
			padding: 15px;
			border-top: 1px solid $c_border;
			border-bottom: 1px solid $c_border;
			&:first-of-type{
				border-top: 0px;
			}
		}
		ul{
			padding: 15px;
			a{
				color: $c_paas;
				text-decoration: none;
			}
		}
	}
}
.all-guides-row{
	@extend .cf;
	margin: 0px 0px 20px 0px;
	&:last-of-type{margin: 0px;}
}