.r_main-footer{
	.r_footer-bar {
		@include flex-section(row wrap);
		-webkit-justify-content: space-around;
		-ms-flex-pack: space-around;
		justify-content: space-around;
		-ms-flex-line-pack: stretch;
		-webkit-align-content: stretch;
		align-content: stretch;
		padding: 30px 0;
		border-bottom: 1px solid #EEE;
		text-align: center;
		a {
			@extend .btn;
			-webkit-flex-grow: 1;
			flex-grow: 1;
			height: 32px;
			line-height: 31px;
			border: 1px solid $c_border;
			color: $c_secondary;
			font-size: 12px;
			margin: 0 8px;
			padding: 0 6px;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				background: $c_border;
				color: $c_primary;
			}
		}
	}
	.r_footer-meta {
		@extend .cf;
		padding: 30px 0;
		.r_footer-meta-links {
			float: left;
			div {
				font-size: 13px;
				color: $c_secondary;
				line-height: 24px;
			}
			a {
				color: $c_secondary;
				text-decoration: none;
				margin: 0 5px;
				&:first-child {
					margin-left: 0;
				}
				&:last-child {
					margin-right: 0;
				}
				&:hover {
					text-decoration: underline;
					color: $c_primary;
				}
			}
			strong {
				display: inline-block;
				margin: 0 10px;
			}
		}
		.r_footer-meta-coalfire {
			float: right;
			height: 48px;
			a {
				display: block;
				float: right;
				width: 70px;
				height: 48px;
				text-decoration: none;
				text-indent: -9999px;
				background: url(../img/coalfire-footer.png) no-repeat center right;
				background-size: 70px 23px;
			}
		}
	}
}