.r_main-marketing{
	background: $c_lightbg;
	border-top: 1px solid $c_border;
	border-bottom: 1px solid $c_border;
	@extend .cf;
	margin: 40px 0;
	.r_marketing-inner-1 {
		padding: 30px 30px 30px 0;
		border-right: 1px solid $c_border;
	}
	.r_marketing-inner-2 {
		padding: 30px;
	}
	h1{
		font-size: 24px;
		font-family: $f_sans-thin;
		color: $c_compliance-alt;
		margin: 0px 0px 10px;
	}
	p{
		font-family: $f_sans-reg;
		line-height: 1.5;
		color: $c_text;
		font-size: 12px;
		margin: 0px 0px 20px 0px;
	}
	a.r_main-marketing-empty-btn{
		@include btn-secondary($c_secondary, #FFF);
	}
	a.r_main-marketing-btn{
		@extend .btn-brand;
	}
	a.r_marketing-btn{
		@include btn-secondary($c_secondary, #FFF);
	}
}
.r_start-helper{
	@extend .r_main-marketing;
	border-top: 1px solid $c_border;
	padding: 20px 20px 15px 20px;
	margin: 20px 0px 0px 0px;
	.r_helper-inner{
		padding: 0px 10px 0px 10px;
		h1{
			font-size: 20px;
			font-family: $f_sans-reg;
			padding: 0px 0px 10px 0px;
			margin: 0px 0px 10px 0px;
		}
		p{margin: 0px 0px 10px 0px;}
	}
}
.r_main-404{
	padding: 50px 20px 50px 20px;
	h1{
		font-size: 120px;
		text-align: center;
		font-family: $f_sans-bold;
		color: $c_compliance;
		padding-bottom: 20px;
	}
	p{
		text-align: center;
		max-width: 400px;
		margin: auto;
		color: $c_compliance-alt;
		line-height: 2;
		padding-bottom: 20px;
	}
	img{
		width: 100%;
		max-width: 420px;
		height: auto;
		display: block;
		margin: auto;
		border: 1px solid #ccc;
		box-shadow: 0px 0px 20px #ccc;
	}
	a.r_back-home{
		width: 200px;
		padding: 10px;
		font-size: 14px;
		font-family: $f_sans-med;
		color: #fff;
		text-align: center;
		display: block;
		margin: 30px auto 0px auto;
		border-radius: 5px;
		background-color: $c_paas;
		text-decoration: none;
	}
}