.r_main-marketing{
	background: $c_lightbg;
	border-top: 1px solid $c_border;
	border-bottom: 1px solid $c_border;
	@extend .cf;
	margin: 60px 0;
	.r_marketing-inner-1 {
		padding: 30px 30px 30px 0;
		border-right: 1px solid $c_border;
	}
	.r_marketing-inner-2 {
		padding: 30px;
	}
	h1{
		font-size: 24px;
		font-family: $f_sans-thin;
		color: $c_compliance-alt;
		margin: 0px 0px 10px;
	}
	p{
		font-family: $f_sans-reg;
		line-height: 1.5;
		color: $c_text;
		font-size: 12px;
		margin: 0px 0px 20px 0px;
	}
	a.r_main-marketing-empty-btn{
		@include btn-secondary($c_secondary, #FFF);
	}
	a.r_main-marketing-btn{
		@extend .btn-brand;
	}
	a.r_marketing-btn{
		@include btn-secondary($c_secondary, #FFF);
	}
}
.r_start-helper{
	@extend .r_main-marketing;
	border-top: 1px solid $c_border;
	padding: 20px 20px 15px 20px;
	margin: 20px 0px 0px 0px;
	.r_helper-inner{
		padding: 0px 10px 0px 10px;
		h1{
			font-size: 20px;
			font-family: $f_sans-reg;
			padding: 0px 0px 10px 0px;
			margin: 0px 0px 10px 0px;
		}
		p{margin: 0px 0px 10px 0px;}
	}
}